
*{
    padding: 0;
    margin: 0;
}

body{
    background-color:beige;
}

.box{
    position: absolute;
    border: 3px solid black;
    height: 400px;
    width: 300px;
    background-color: aquamarine;
    margin: 80px 0px 0px 600px;

}

img{
    position: relative;
    top: 50px;
    left: 90px;
    height: 150px;
    width: 100px;
    border-radius: 6px;
    border: 2px solid black;

}

pre{
    position: relative;
    top: 70px;
    right: 15px;
    font-weight:bolder;
    font-size: 14px;
    line-height: 20px;
}

button{
    position: relative;
    top: 70px;
    left: 120px;
    padding: 6px;
    font-weight: bolder;
    border-radius: 6px;
}

button:hover{
    background-color: black;
    color: white;
}

h1{
    background-color:bisque;
    text-align: center;
    padding: 6px;
}